<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Page de chargement des plans de l'empire</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto mb-5">
                <h2>Chargement du fichier de l'empire</h2>
                <br/>
                <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="file" class="form-control-file">
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Calculer</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <p th:text="${message}" th:if="${message ne null}" class="alert" th:classappend="${class}"></p>
            </div>
        </div>
</section>

</body>
</html>